<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Chess_Game</a>
    </div>
</div>

<div class="nav-scrollable">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                Show games
            </NavLink>
        </div>

            
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="Data_View">
                    Data_View
                </NavLink>
            </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="View_Stat">
                View_Stat
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Opening_Use">
                Opening
            </NavLink>
        </div>
        
        
    </nav>
</div>

